{% extends '@Contao/content_element/_base.html.twig' %}

{% trans_default_domain 'contao_default' %}

{% block content %}
    {% if data.text|default %}
        <div class="text">{{ data.text|raw }}</div>
    {% endif %}

    {% add 'bifroest_css' to head %}
        <link rel="stylesheet" href="{{ asset('bifroestlogin/layout.css', 'bifroestlogin') }}">
    {% endadd %}

    {% for service in data.bifroest_services|default([])|deserialize %}
    <div class="sso-button sso-button-service-{{ service|e('html_attr') }}">
        {% include '@Contao/bifroest/service_' ~ service|lower ~ '.html.twig' with {
            data: data,
            google_api_key: google_api_key,
            apple_client_id: apple_client_id,
            state: state
        } only %}
    </div>
    {% endfor %}
{% endblock %}