{% trans_default_domain 'contao_default' %}

<div class="login-service service-{{ service }}">
    <a href="{{ path('bifroest_' ~ (service|lower) ~ '_register') }}" title="{{ 'MSC.bifroest.entra.sign_in'|trans }}"><span class="title">{{ 'MSC.bifroest.entra.sign_in'|trans }}</span></a>
</div>
